#wrapper{
    margin: 0 auto;
    text-align: center;
}

input{
    border: 2px solid #A9A9A9;
    border-radius: 5px;
    color:white;
    background-color:#A9A9A9;
    text-align: center;
}

.myButton{
    padding: 10px;
    width: 40px;
}

.myButton:hover{
    border: 2px solid #A9A9A9;
    background-color: white;
    color: #A9A9A9;

}
#countValue{
    background-color:white;
    color: black;
    padding: 5px;
    height: 25px;
    width: 40px;

}